pywinpty
accelerate
ai71
aiofiles
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
executing
fastapi
fastjsonschema
ffmpy
filelock
Flask
Flask-Cors
Flask-SSLify
flask-talisman
fonttools
fqdn
fsspec
gradio
gradio_client
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
importlib_resources
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
orjson
overrides
packaging
pandas
pandocfilters
parso
pdfminer
pdfminer.six
pillow
platformdirs
prometheus_client
prompt_toolkit
psutil
pure_eval
pycparser
pycryptodome
pydantic
pydantic_core
pydub
Pygments
pyparsing
python-dateutil
python-json-logger
python-multipart
pytz
pypiwin32
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
ruff
safetensors
semantic-version
Send2Trash
setuptools
shellingham
six
sniffio
soupsieve
stack-data
starlette
sympy
terminado
tinycss2
tokenizers
tomlkit
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
uvicorn
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
